[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
psutil = "*"
pyvda = "==0.0.8"
pywin32 = "*"
wmi = "*"
selenium = "*"
pyside6 = "*"
xlwings = "*"
pydub = "*"
simpleaudio = "*"
keyboard = "*"
webdriver-manager = "*"
opencv-python = "*"
azure-cognitiveservices-speech = "*"
pyinstaller = "*"
numpy = "*"
pykml = "*"
sqlalchemy = "*"

[requires]
python_version = "3.11"
